In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import os
current_directory = os.getcwd()
data_file_name = '/god_alignment_data.csv'
print(current_directory + data_file_name)
df = pd.read_csv(current_directory + data_file_name)
df.head()

/Users/jay/Desktop/Work/iRobot/god_alignment_data.csv

,id,book_id,chapter,verse,alignment_num,orig_lang_words,target_lang_words,origSpan,origWords,origWordsTxt,alignmentOrigWords,targetSpan,targetWords,targetWordsTxt,alignmentTargetWords,alignmentTxt,frequency
0,118054,luk,1,6,5,",750353,750354,",",727232,",1,"[{'id': 750353, 'book_id': 'luk', 'chapter': '...",τοῦ Θεοῦ,2,0,"[{'id': 727232, 'book_id': 'luk', 'chapter': '...",God,1,τοῦ Θεοῦ = God,0.077381
1,118093,luk,1,8,12,",750396,750397,",",727274,",1,"[{'id': 750396, 'book_id': 'luk', 'chapter': '...",τοῦ Θεοῦ,2,0,"[{'id': 727274, 'book_id': 'luk', 'chapter': '...",God,1,τοῦ Θεοῦ = God,0.077381
2,118206,luk,1,16,8,",750517,750518,",",727452,",1,"[{'id': 750517, 'book_id': 'luk', 'chapter': '...",τὸν Θεὸν,2,0,"[{'id': 727452, 'book_id': 'luk', 'chapter': '...",God,1,τὸν Θεὸν = God,0.043651
3,118262,luk,1,19,11,",750579,750580,",",727539,",1,"[{'id': 750579, 'book_id': 'luk', 'chapter': '...",τοῦ Θεοῦ,2,0,"[{'id': 727539, 'book_id': 'luk', 'chapter': '...",God,1,τοῦ Θεοῦ = God,0.077381
4,118382,luk,1,26,10,",750709,750710,",",727714,",1,"[{'id': 750709, 'book_id': 'luk', 'chapter': '...",τοῦ Θεοῦ,2,0,"[{'id': 727714, 'book_id': 'luk', 'chapter': '...",God,1,τοῦ Θεοῦ = God,0.077381

In [27]:
df = df[['chapter', 'verse', 'alignment_num', 'orig_lang_words', 'target_lang_words', 'alignmentOrigWords', 'targetSpan', 'alignmentTargetWords', 'frequency']]
df['orig_lang_words'] = [str.replace(',',' ').split() for str in df['orig_lang_words']]
df['orig_lang_words'] = [[int(num) for num in string_arr] for string_arr in df['orig_lang_words']]
df['orig_lang_words'] = [sum(num_array) for num_array in df['orig_lang_words']]

df['target_lang_words'] = [str.replace(',',' ').split() for str in df['target_lang_words']]
df['target_lang_words'] = [[int(num) for num in string_arr] for string_arr in df['target_lang_words']]
df['target_lang_words'] = [sum(num_array) for num_array in df['target_lang_words']]
df

,chapter,verse,alignment_num,orig_lang_words,target_lang_words,alignmentOrigWords,targetSpan,alignmentTargetWords,frequency
0,1,6,5,1500707,727232,2,0,1,0.077381
1,1,8,12,1500793,727274,2,0,1,0.077381
2,1,16,8,1501035,727452,2,0,1,0.043651
3,1,19,11,1501159,727539,2,0,1,0.077381
4,1,26,10,1501419,727714,2,0,1,0.077381
...,...,...,...,...,...,...,...,...,...
499,1,3,7,801721,796060,1,0,1,0.273810
500,1,9,9,801838,796230,1,0,1,0.017857
501,1,6,12,801998,796439,1,0,1,0.273810
502,1,11,11,1604153,796557,2,0,1,0.077381
503,1,11,17,1604167,796566,2,0,1,0.073413

In [28]:
from sklearn.svm import OneClassSVM
nu = 0.0093
ocsvm = OneClassSVM(kernel='rbf', gamma='scale', nu=nu)
ocsvm.fit(df)
pred_ocsvm = ocsvm.predict(df)
pred_ocsvm
# Outliers are marked with a -1

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [29]:
outliers = df[pred_ocsvm == -1]
outliers

,chapter,verse,alignment_num,orig_lang_words,target_lang_words,alignmentOrigWords,targetSpan,alignmentTargetWords,frequency
11,1,68,3,751314,728492,1,0,1,0.035714
17,2,38,6,752078,729512,1,0,1,0.041667
212,12,22,4,777735,2290602,1,2,3,0.001984
369,4,19,0,2383221,1572462,3,2,2,0.001984
437,1,5,12,2398914,793530,3,0,1,0.001984